<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
 <hibernate-configuration>
     <session-factory> 

        <!-- Database connection settings -->  
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>  
        <property name="connection.url">jdbc:sqlserver://HARINIGUNABALAN;databaseName=OMAZON;instanceName=SQLEXPRESS</property>  
        <property name="connection.username">sa</property>  
        <property name="connection.password">abc@123</property>  
        
        
        <!-- JDBC connection pool (use the built-in) -->  
        <property name="connection.pool_size">2</property>  
        <!-- SQL dialect -->  
        <property name="dialect">org.omazon.java.pojo.UnicodeSQLServer2008Dialect</property>  
  <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
   
        <!-- Echo all executed SQL to stdout -->  
        <property name="show_sql">true</property>  
        <!-- Drop and re-create the database schema on startup -->  
        <property name="hbm2ddl.auto">update</property>  
        <mapping class="org.omazon.java.pojo.Employee"></mapping>  
        <mapping class="org.omazon.java.pojo.Customer"></mapping>  
		<mapping class="org.omazon.java.pojo.Login"></mapping>
		<mapping class="org.omazon.java.pojo.Product"></mapping>
		<mapping class="org.omazon.java.pojo.OrderHeader"></mapping>
		<mapping class="org.omazon.java.pojo.Shipment"></mapping>
		<mapping class="org.omazon.java.pojo.Truck"></mapping>  
    </session-factory>  
  
</hibernate-configuration> 

